.hero-container {
    background-image: url(../../images/homeBG.JPG);
    background-position: center;
    background-size: containauto 100%;
    height: 100vh;
    width: 100vw;
    padding-top: 5rem;
    padding-left: 10rem;
    color: white;
    font-weight: 600;
    font-size: clamp(3rem, 1rem + 10vh, 5rem);
}

.list-boxes-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.list-box {
    display:flex;
    flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center;
    width: 14rem;
    color: #d9e1fc;
    height: 20rem;
    justify-content: center;
    padding: 20px;
    border: 1px solid #e2d6ff;
    margin: 10px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    
}

.home-list-img {
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
    
}

#whatIDo {
    display: flex;
    margin-top: 5rem;
    color: #213168;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .list-box {
      width: calc(100% - 20px); /* Take full width minus the margins */
    }
}

