.prints-header {
    background-image: url(../../images/printsheader.JPG);
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding-top: 5rem;
    padding-left: 10rem;
    color: white;
    font-weight: 600;
    font-size: clamp(3rem, 1rem + 10vh, 5rem);
}

#print-projects {
    display: flex;
    margin: 5rem;
    justify-content: center;
    align-items: center;
}

.print-reel {
    display: grid;
    gap: 1rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    grid-auto-flow: column;
    grid-gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.print-reel-image-wrapper {
    width: 30rem;
    overflow: hidden;
    position: relative;
  }

.print-reel > * {
    scroll-snap-align: start;
}

.print-reel-images {
    width: 30rem;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.print-reel-images:hover {
    transform: scale(1.2);
}