@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: 300;
  color: #213168;
}

.box {
    border: 2px solid #ef6fe5;
    color: #ef6fe5;
    padding: 10px;
    border-radius: 5px;
}
